@import './../brand.scss';

.direction-btn {
	width: 250px;
	height: 50px;
	clip-path: polygon(0 0, 100% 0, 80% 0, 100% 100%, 0 100%);
	background: white;
	border: 2px solid black;
	border-bottom-left-radius: 10px;
	text-transform: uppercase;

	&>* {
		position: absolute;
		top: 50%;
		left: 50%;
		transform-origin: center;
	}

	&.btn-previous {
		transform: rotate(180deg);

		.text {
			transform: rotate(-180deg) translateX(50%) translateY(50%);
		}
	}

	&.btn-next {
		.text {
			transform: translateX(-50%) translateY(-50%);
		}
	}

	&.secondary {
		color: $brand-secondary-font-color;
		background-color: $brand-secondary-color;

		&:hover {
			background-color: lighten($brand-secondary-color, 5%);
		}
	}

	&.primary {
		color: $brand-primary-font-color;
		background-color: $brand-primary-color;

		&:hover {
			background-color: lighten($brand-primary-color, 5%);
		}
	}

	&.positive {
		color: $brand-positive-font-color;
		background-color: $brand-positive-color;

		&:hover {
			background-color: lighten($brand-positive-color, 5%);
		}
	}

	&.negative {
		color: $brand-danger-font-color;
		background-color: $brand-danger-color;

		&:hover {
			background-color: lighten($brand-danger-color, 5%);
		}
	}
}