@import './../../brand.scss';

.numberInput {
	font-family: $primary-font, $secondary-font;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.numberInput label {
	font-family: $primary-font, $secondary-font;
}