@import './../brand.scss';

.button {
	padding: 10px;

	border: none;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;

	font-family: $primary-font, $secondary-font;

	&.secondary {
		color: $brand-secondary-font-color;
		background-color: $brand-secondary-color;

		&:hover {
			background-color: lighten($brand-secondary-color, 5%);
		}
	}

	&.primary {
		color: $brand-primary-font-color;
		background-color: $brand-primary-color;

		&:hover {
			background-color: lighten($brand-primary-color, 5%);
		}
	}

	&.positive {
		color: $brand-positive-font-color;
		background-color: $brand-positive-color;

		&:hover {
			background-color: lighten($brand-positive-color, 5%);
		}
	}

	&.negative {
		color: $brand-danger-font-color;
		background-color: $brand-danger-color;

		&:hover {
			background-color: lighten($brand-danger-color, 5%);
		}
	}
}