@import './../../brand.scss';

// .custom-range {
// 	-webkit-appearance: none;
// 	background: #e0e0e0;
// }

// .custom-range:hover {}

// .custom-range::-webkit-slider-thumb {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	width: 5px;
// 	height: 20px;
// 	border-radius: 0;
// 	/* Set to 0 for a square thumb */
// 	background: #3498db;
// 	cursor: pointer;
// }

// .custom-range::-moz-range-thumb {
// 	width: 5px;
// 	height: 20px;
// 	border-radius: 0;
// 	/* Set to 0 for a square thumb */
// 	background: #3498db;
// 	cursor: pointer;
// }

.range-value {}