@import './../../brand.scss';

.textarea-input {
	font-family: $primary-font, $secondary-font;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.textarea-input label {
	font-family: $primary-font, $secondary-font;
}