// FONT AWESOME 6.5.1
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

// FONTS
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&display=swap');
$primary-font: 'JetBrains Mono', monospace;
$secondary-font: 'Arial', 'Helvetica', sans-serif;

// BRAND COLORS
$brand-primary-color: rgb(128, 64, 0);
$brand-secondary-color: rgb(0, 128, 128);
$brand-positive-color: rgb(0, 200, 0);
$brand-danger-color: rgb(200, 64, 0);

// FONT COLORS
$brand-primary-font-color: rgb(255, 255, 255);
$brand-secondary-font-color: rgb(255, 255, 255);
$brand-positive-font-color: rgb(0, 0, 0);
$brand-danger-font-color: rgb(255, 255, 255);