@import './../../brand.scss';

/* Hide the browser's default checkbox */
.container input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* The container */
.container {
	font-family: $primary-font, $secondary-font;

	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Create a strikethrough line over text inside container when hovered and checked */
	&:hover.check-hover-cut {
		text-decoration: line-through;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;

		border: 1px solid black;
		cursor: pointer;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	/* When the checkbox is checked */
	& input:checked~.checkmark {
		background-color: $brand-positive-color;
		color: $brand-positive-font-color;
	}

	/* On mouse-over, when not checked */
	&:hover input~.checkmark {
		background-color: $brand-positive-color;
		color: $brand-positive-font-color;
	}

	/* On mouse-over, when checked */
	&:hover input:checked~.checkmark {
		background-color: $brand-danger-color;
		color: $brand-danger-font-color;
	}
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator this is the actual checkmark*/
.container .checkmark:after {
	font-weight: 1000;
	content: 'X';
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-55%, -50%);
}